*{
    margin: 0px;
    padding: center;
}

body{
    background-color: #f4b4ea;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    min-height: 45vh;
    width: 45vh; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 2rem;
    /* justify-content: center; */
}

form{
    margin : 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 0.5rem;
}

.msg{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

button{
    background-color: #af4d98;
    color: white;
    margin-top: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
 